.options-container {
   display: flex;
   flex: 1 0 auto;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1rem;

   align-items: stretch;
   justify-content: flex-start;
}

.option-button {
   height: 2rem;
   width: 2rem;
   border-radius: 0.5rem;
}

.estimates-container {
   display: flex;
   flex: 1 0 auto;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1rem;

   align-items: stretch;
   justify-content: flex-start;
}

.estimate-card {
   padding: 0.5rem;
   border: solid 1px #000;
   width: 4rem;
   height: 6rem;
   border-radius: 0.5rem;

   text-align: center;
   line-height: 6rem;
   font-size: larger;
}

.my-estimate {
   font-weight: bold;
}
